.Main {
    border-radius: 50px;
    margin: 0% auto;
    height: 500px;
    margin-top: 50px;
    width: 60%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 15px 10px 50px 2px gray;
}

.Text {
    color: white;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    background-color: #4d8cdd;
    height: 100%;
    width: 45%;
    /* background-color: white; */
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.heading {
    text-align: center;
    height: 100px;
    width: 100%;
    /* background-color: black; */
    color: white;
    font-size: 25px;
}

.logo {
    justify-content: center;
    align-items: center;
    display: flex;

    height: 150px;
    width: 150px;
    /* background-color: red; */
}

.para {
    /* background-color: red; */
    height: 80px;
    width: 70%;
    text-align: center;
    font-size: 20px;
}

.bottom {
    align-items: center;
    display: flex;
    font-size: 25px;
    height: 80px;
    /* background-color: #0b4b; */
}

.form {
    /* background-image: url(./assects/images.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 55%;
    background-color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.fh {
    /* margin-bottom: 30px; */

    color: gray;
    font-size: 35px;
}

.in1 input {
    /* text-align: inherit; */
    font-size: 20px;
    color: black;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.0);
    border: none;

}

.email {
    height: 70px;
    width: 70%;
    display: flex;
    border-bottom: 3px solid #4d8cdd;
}

.email label {
    font-size: 20px;
}

.pass {
    height: 70px;
    width: 70%;
    margin-bottom: 50px;
    border-bottom: 3px solid #4d8cdd;
}

.btn {
    height: 50px;
    /* background-color: red; */
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.btnf button {
    font-size: 19px;
    color: white;
    background-color: #4d8cdd;
    border-radius: 50px;
    height: 50px;
    width: 120px;
    border: none;

}

.btnf :hover {
    border: 2px solid black;
    transition: all 1s;
    background-color: white;
    color: gray;

}

.icon1{
    font-size: 30px;
    margin-top: 10px;
    height: 30px;
    width: 50px;
    /* background-color: #0b4b9e; */
    color: gray;
}

a {
    border: none;
    color: white;
    text-decoration: none;
    /* background-color: red; */
}

/* a :hover{
    color: gray;
 } */




.loginform {

    /* background-image: url(./assects/images.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 55%;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}

.loginText {
    color: white;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    background-color: #4d8cdd;
    height: 100%;
    width: 45%;
    /* background-color: white; */
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.inlogn {
    color: black;
    font-size: 20px;
    width: 120px;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    display: none;
    /* margin-bottom: 350px; */
}

.inlogn:hover {
    transition: all 1s;
}

@media (max-width:900px) and (min-width:320px) {
    .Main {
        height: auto;
        flex-direction: column;
    }

    .Text {
        display: none;
        border-radius: 0px;
        width: 100%;
    }

    .form {
        border-radius: 30px;
        width: 100%;
    }

    .loginform {
        border-radius: 30px;
        width: 100%
    }

    .loginText {
        display: none
            /* width: 100%; */
    }

    .inlogn {
        display: flex;
    }

    .btn {
        flex-direction: column;
        height: auto;
    }
}


h2 {
    /* color: black; */
}



/*  Page */


.mainPage {
    height: auto;
    /* background-color: red; */
}

.Pmain {
    height: auto;
    width: 100%;
    background-color: gray;
}

.Pheader {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 150px;
    width: 100%;
    background-color: #4dccdd;
}

.plogoutmain {
    margin-right: 30px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    width: 300px;
    /* background-color: #4d8cdd; */
    display: flex;
}

.userimg {
    border-radius: 100px;
    height: 65px;
    width: 70px;
    background-color: rgba(255, 255, 255, 0.3);
    /* border: 2px solid black; */
}

.username {
    height: 20px;
    width: 50px;
    /* background-color: #2778e0; */
}

.PlogoutBTN {
    /* text-align: center; */
    font-size: 17px;
    height: 50px;
    width: 35%;
    background-color: #4d8cdd;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 21px;
}

.PlogoutBTN:hover {
    transition: all 1s;
    box-shadow: 2px 2px 10px 3px gray;
    background-color: rgba(255, 255, 255, 0.0);
}

.Plogo img {
    margin-left: 20px;
    height: 130px;
    width: 130px;
    /* background-color: #464442; */
    background-repeat: no-repeat;
    background-size: cover;
}

.from {
    /* margin-top: 30px; */
    position: relative;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0% auto;
    height: 450px;
    width: 35%;
    background-color: #6e95c9;
}

input {
    border-radius: 20px;
    height: 50px;
    width: 80%;
}

textarea {
    border-radius: 20px;

    height: 100px;
    width: 80%;
}

/* .blogseciton{
    background-color: #2778e0;
    align-items: center ;
    gap: 20px;
    flex-direction: column;
    display: flex;
     justify-content: center;
     left: 200px; 
     position: absolute; 
     bottom: 12px; 
     height: 350px;
    width: 30%;
    background-color: rgb(255, 0, 0); 
     display: none;
    color: white;
    margin-left:15%;
    bottom: 30px; 
 }  */
.submit {
    color: white;
    font-size: 20px;
    border: none;
    height: 40px;
    width: 120px;
    background-color: #2778e0;
    border-radius: 30px
}

.blogTittle {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0% auto;

    /* font-weight: ; */
    font-size: 30px;
    text-align: center;
    /* margin-top: 20px; */
    color: white;
    height: 100px;
    width: 500px;
    /* border: 2px solid navy; */
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.autherName {
    top: 20px;
    margin: auto;
    font-size: 25px;
    color: white;
    height: auto;
    width: 500px;
    /* border: 1px solid black; */
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: black;
}

.icon {
    height: 50px;
    width: 50px;
    /* background-color: red; */
    border-radius: 100px;
    background-image: url(../assets/images-removebg-preview\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.decription {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    margin: 0% auto;
    color: white;
    /* height: 120px; */
    width: 500px;
    background-color: black;
}

.btnp {
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
    height: 50px;
    width: 130px;
    font-size: 18px;
    background-color: #4d8cdd;
    margin-bottom: 120px;
}

.btnp:hover {
    transition: all 1s;
    box-shadow: 2px 2px 10px 3px gray;
}

.createBlog {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 80px;
    width: 100%;
    /* background-color: red; */
}

.parap {
    color: black;
}

.log {
    color: black;
}

.username {
    /* color: black; */
    height: 50px;
    width: 120px;
    /* background-color: red; */
}

#blogdesc {
    font-size: 25px;
    /* text-align: center; */
    margin: 0% auto;
    height: auto;
    width: 400px;
    background-color: red;

}

.crossMain {
    width: 100%;
    height: 60px;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    /* padding: 20px; */
}

.crossMain p {
    font-weight: bold;
    color: white;
}

.cross {
    cursor: grab;
    justify-content: center;
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    color: black;
    background-color: white;
}

.cross:hover {
    transition: all 1ms;
    box-shadow: 5px -2px 3px 3px gray;
}

.mainBox{
    display: flex;
    flex-direction: column;
    margin: 0% auto;
    height: auto;
    width: 41%;
    /* background-color: red; */
    justify-content: end;
    justify-items: end;
    align-items: end;
    /* gap: 20px; */
}
.btnBox{
    height: 60px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
}
.Dbtn{ 
    background-color: #2778e0;
    /* margin-top: 20px; */
    border-radius: 20px;
    height: 50px;
    width: 120px;
font-size: 18px;
color: white;
border: none;
}
.editBtn{
    height: 50px;
    width: 80px;
    background-color: #2778e0;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    border: none;
}

